html {
  background-image: linear-gradient(pink, grey);
  padding: 5px;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  align-items: left;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  text-align: left;
}

button {
  height: 2.5em;
  padding: 5px;
}
